 Body {
   background: #653232;
   font-family: helvetica, arial, sans-serif;
   font-size: 16px;
   color: #FFFFFF;
  }

  #headshot img {
    width: 100px;
    height: 100px;
  }

#Gamingsetup img {
  width: 400px;
  height: 200px;
  margin-bottom: 20px;
}

li {
  font-size: 1em;
  color: #000000
}

  P {
    font-size: 1em;
    line-height: 1.4em;
    margin-bottom: 20px;
    color: #000000;
  }

  h1{
    font-size: 1.5em;
    margin-bottom: -6px;
    color: #FFFFFF;
  }

  h2{
    font-size: 1.15em;
    font-style: italic;
    font-weight: bolder;
    color: #000000
  }

  h3{
    font-size: 1.05em;
    color: #000000
  }

  h4{
    color: #07364A
  }
  #container {
    width: 90%;
    max-width: 800px;
    background: #757575;
    margin: 30px;
    margin: 30px auto;
    padding: 30px;
  }

  section{
   border-top: 2px solid #5BC0BE;
   padding: 20px 0 0 0;
  }
