 Body {
   background: #653232;
   font-family: helvetica, arial, sans-serif;
   font-size: 16px;
   color: #FFFFFF;
  }

  P {
    font-size: 1em;
    line-height: 1.4em;
    margin-bottom: 20px;
    color: #FFFFFF;
  }


  #container {
    width: 90%;
    max-width: 800px;
    background: #757575;
    margin: 30px;
    margin: 30px auto;
    padding: 30px;
  }

  section{
   border-top: 3px solid #5BC0BE;
   padding: 20px 0 0 0;
  }
