 Body {
   background: #00D9C0;
   font-family: helvetica, arial, sans-serif;
   font-size: 16px;
   color: #000000;
   border: 30px 
  }

  P {
    front-size: 1em;
    line-height: 1.4em;
    margin-bottom: 20px;
    font-color: #000000;
  }


  #container {
    width: 50%;
    max-width: 500px;
    background: #1C2541;
    margin: top right bottom left;
    margin: 30px auto;
    padding: 30px;
  }
